body {
  font-family: "Quicksand", sans-serif;
}
.logo-login {
  text-align: center;
  margin-top: 50px;
}
.apa-logo {
  width: 40%;
  margin-bottom: 50px;
}
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}
.box-login {
  background-color: white;
  padding: 30px;
  border-radius: 18px;
  width: 35%;
}
/* INPUT NAMA */
.input-nama {
  width: 98%;
  height: 40px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  margin-top: 8px;
  padding-left: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
.input-nama[type="text"]:focus {
  outline: none;
}
.nama {
  font-size: 16px;
}
/* INPUT EMAIL */
.input-email {
  width: 98%;
  height: 40px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  margin-top: 8px;
  padding-left: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
.input-email[type="email"]:focus {
  outline: none;
}
.email {
  margin-top: 30px;
  font-size: 16px;
}
/* INPUT PASSWORD */
.input-password {
  width: 98%;
  height: 40px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  margin-top: 8px;
  padding-left: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
.input-password[type="password"]:focus {
  outline: none;
}
.password {
  margin-top: 30px;
  font-size: 16px;
}
/* BTN login */
.btn-regist {
  margin-top: 40px;
  width: 100%;
  background: #007a3f;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.garis-atau {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.hr-atau {
  width: 100%;
  border: 1px solid rgb(226, 226, 226);
}
.teks-atau {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 300;
  color: rgb(137, 137, 137);
}
/* BTN GOOGLE */
.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
  gap: 10px;
}
/* PUNYA AKUN */
.punya-akun {
  text-align: center;
  margin-top: 20px;
}
.sudah-punya-akun {
  font-weight: 300;
}
.masuk-akun {
  font-weight: bold;
  font-weight: 500;
  color: #007a3f;
}
.hr-bawah {
  border: 1px solid rgb(226, 226, 226);
  margin-top: 20px;
}
.teks-capcha {
  font-weight: 300;
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}
.link-login {
  color: black;
  text-decoration: underline;
}

/* REPONSIVE */
/* HP */
@media only screen and (max-width: 375px) {
  .box-login {
    width: 100%;
  }
  .logo-login {
    margin-top: 80px;
  }
  .apa-logo {
    margin-bottom: 25px;
    width: 50px !important;
  }
  .input-nama,
  .input-email,
  .input-password {
    width: 96%;
  }
}

@media only screen and (max-width: 414px) {
  .box-login {
    width: 100%;
  }
  .logo-login {
    margin-top: 80px;
  }
  .apa-logo {
    margin-bottom: 25px;
  }
  .input-nama,
  .input-email,
  .input-password {
    width: 96%;
  }
}

@media only screen and (max-width: 280px) {
  .box-login {
    width: 100%;
    padding: 0;
  }
  .logo-login {
    margin-top: 70px !important;
  }
  .apa-logo {
    margin-bottom: 0 !important;
  }
  .input-nama,
  .input-email,
  .input-password {
    width: 96%;
  }
}
.forgot-pass {
  float: right;
  margin-top: 5px;
  color: #007a3f;
  font-size: 14px;
  cursor: pointer;
}

/* IPAD */
@media only screen and (max-width: 768px) {
  .box-login {
    width: 70%;
  }
  .logo-login {
    margin-top: 50px;
  }
  .apa-logo {
    margin-bottom: 25px;
  }
  .input-nama,
  .input-email,
  .input-password {
    width: 98%;
  }
}

@media only screen and (max-width: 820px) {
  .box-login {
    width: 70%;
  }
  .logo-login {
    margin-top: 50px;
  }
  .apa-logo {
    margin-bottom: 25px;
  }
  .input-nama,
  .input-email,
  .input-password {
    width: 98%;
  }
}

@media only screen and (max-width: 1024px) {
  .box-login {
    width: 70%;
  }
  .logo-login {
    margin-top: 100px;
  }
  .apa-logo {
    margin-bottom: 25px;
    width: 30%;
    margin-top: 40px;
  }
  .input-nama,
  .input-email,
  .input-password {
    width: 98%;
  }
}
